body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
}

.paramount{
    font-size: 25px;
}

.flexible-container{
    /*margin-bottom: 100px;*/
    display: flex;
}

.orange-color{
    color: orange;
}

.white-color{
    color: white;
}

.half-width{
    padding: 5%;
    width: 50%;
}

.half-width p{
    text-align: justify;
}
.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(orange,tomato);
}

.top-banner{
    background-image: url(images/top-banner.png);
    padding: 0;
    background-repeat: no-repeat;
}

.Career{
    /* margin-top: -180px;
    margin-left: 80px;
    margin-right: 50px; */
    padding: 5%;
    text-align: justify;
}
.hire{
    margin-left: 80px;
}

.my-dream{
   background-image: url(images/dream-bg.png);
   padding: 0;
   background-position: right;
   background-repeat: no-repeat;
}

.my-dream p{
    padding-right: 58px;
    text-align: justify;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.exp-text{
    margin-left: 100px;
    margin-bottom: -70px;
}

.experience-item{
    /* width: 40%; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    box-shadow: 10px 10px 40px grey;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}


.experience-item p{
    text-align: justify;
}

#joniur-web-dev {
    border-left: 7px solid tomato;
    background-image: linear-gradient(rgb(249 6 139),cyan);
    border-image-slice: 1;
    width: 700px;
}


#full-satck-dev{
    border-left: 7px solid blue;
    background-image: linear-gradient(rgb(216, 97, 163),rgb(135, 225, 236));
    border-image-slice: 1;
    width: 700px;
    
}

#deputy_manager{
    border-left: 7px solid rgb(166, 255, 0);
    background-image: linear-gradient(rgb(112, 209, 93),rgb(167, 224, 238));
    /* border-image-slice: 1; */
    /* width: 600px; */
    margin-bottom: 100px;
    width: 86%;

    
}
footer p{
    text-align: center;
}


/* for mobile */
@media only screen and (max-width:688px) {
   
    .flexible-container{
        width: 100%;
    }
    
}

/* end */